.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-header h1 {
  color: #e1003c;
  font-size: 2rem;
  margin-left: 1rem;
}

.App-body {
  padding: 1rem;
  min-height: 300px;
}

.App-footer {
  border-top: 3px solid #e1003c;
  text-align: center;
  font-style: italic;
  padding: 1rem;
}
